.container {
  padding: 0;
}


#sketch {
  min-height: 500px;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 10px;
}


#info {
  background: #ddd;
  border: solid 1px #ccc;
  min-height: 200px;
}
