.container {
  padding: 10px 30px;
}


#sketch {
  min-width: 800px;
  min-height: 500px;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 10px;
  border: solid 1px #ddd;
}


#info {
  background: #ddd;
  border: solid 1px #ccc;
  min-height: 200px;
}
